.search {
  width: 85vw;
  margin: 0 auto;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}
.searchId .asd {
  border: 1px solid rgba(227, 227, 227, 1);
  overflow: hidden;
  border-radius: 8px;
}
.searchId .asd .title {
  padding: 20px;
  color: white;
  background-color: #01b4e4;
}

.asd ul li button {
  cursor: pointer;
  font-size: 16px;
  border: none;
  width: 100%;
  text-align: start;
  padding: 10px 20px;
}

.searchResults .searchCard {
  display: flex;
  gap: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(227, 227, 227, 1);
  background-color: #fff;
  margin-bottom: 20px;
  overflow: hidden;
}
.searchCard img {
  height: 141px;
  width: 94px;
}
.searchCard .searchTexts {
  padding: 10px 15px;
}
.searchCard .searchTexts h4 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}
