.selectedMovie {
  background-position: 0 60%;
  background-size: cover;
  width: 100%;
  color: white;
}

.selectedMovieContainer {
  width: 100% !important;
  backdrop-filter: saturate(0.5) blur(2px);
  -webkit-backdrop-filter: saturate(0.5) blur(2px);
}

.selectedMovieContainer .content {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px 40px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.selectedMovieContainer .content span:first-child {
  margin-left: 18px;
}

.selectedMovieContainer .content img {
  width: 300px;
  border-radius: 8px;
}

.text .rate {
  display: flex;
  gap: 16px;
}

.text .rate .smile {
  display: flex;
}

.text .rate .smile img {
  width: 33px;
  height: 33px;
  position: relative;
  border-radius: 50%;
}

.text .rate .smile img:first-child {
  border: 5px solid rgba(31.5, 31.5, 10.5, 1);
  background-color:  rgba(31.5, 31.5, 10.5, 1);
  z-index: 1;
  transition: 0.2s ease-in-out;
  left: 0;
}

.text .rate .smile img:first-child:hover {
  z-index: 4;
  transform: scale(1.5);
}

.text .rate .smile img:nth-child(2) {
  border: 5px solid rgba(31.5, 31.5, 10.5, 1);
  background-color:  rgba(31.5, 31.5, 10.5, 1);
  left: -10px;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.text .rate .smile img:nth-child(2):hover {
  z-index: 5;
  transform: scale(1.5);
}

.text .rate .smile img:nth-child(3) {
  border: 5px solid rgba(31.5, 31.5, 10.5, 1);
  background-color:  rgba(31.5, 31.5, 10.5, 1);
  transition: 0.2s ease-in-out;
  left: -20px;
  z-index: 3;
}

.text .rate .smile img:nth-child(3):hover {
  transform: scale(1.5);
}
.text .rate .vibe {
  padding: 8px;
  background-color: rgb(3, 37, 65);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text .rate .vibe button {
  border: none;
  background-color: inherit;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.text .actions {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  margin: 10px 0;
}
.actions span {
  background: rgb(3, 37, 65);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  cursor: pointer;
}
.actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  color: white;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.actions button:hover {
  opacity: 0.5;
}
