body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #042541;
  height: 64px;
  display: flex;
  align-items: center;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  transition: 0.3s;
}

.navbar-wrapper-menu {
  display: flex;
  gap: 14px;
  cursor: pointer;
  color: white;
}

.navbar-wrapper-menu-item {
  padding: 8px;
  position: relative;
}

.navbar-wrapper-menu-item:nth-child(1) {
  width: 170px;
}

.rightUser {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  color: white;
}

.rightUser .lang {
  border: 1px solid white;
  padding: 2px 5px;
  border-radius: 3px;
}

.rightUser .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(210 144 1);
  border-radius: 50%;
  padding: 4px 10px;
}

.moviesToggle {
  background-color: white;
  color: black;
  z-index: 5;
  display: none;
  padding: 10px 30px;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 100%;
}
.moviesToggle li {
  padding: 3px 5px;
  width: 150px;
}
.navbar-wrapper .nav_toggle {
  display: none;
}

.navbar-wrapper-menu-item:hover .moviesToggle {
  display: block;
}
@media (max-width: 767px) {
  .navbar-wrapper {
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-wrapper-menu {
    flex-direction: column;
    gap: 10px;
  }

  .navbar-wrapper-menu-item {
    padding: 6px;
  }

  .rightUser {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1200px) {
  .navbar-wrapper {
    padding: 0 40px;
  }
  .navbar-wrapper .nav_toggle {
    display: block;
  }
  .navbar-wrapper-menu {
    gap: 14px;
    position: absolute;
    top: 64px;
    left: 0;
    padding: 10px;
    height: calc(100vh - 64px);
    z-index: 5;
    transition: 0.3s;
    background-color: #042541;
    transform: translateX(-100%);
    display: block;
  }
  .navbar-wrapper-menu.open {
    transform: translateX(0);
  }
  .rightUser {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .navbar-wrapper {
    padding: 0 40px;
  }

  .navbar-wrapper-menu {
    gap: 14px;
    position: absolute;
    top: 64px;
    left: 0;
    padding: 10px;
    height: calc(100vh - 64px);
    z-index: 5;
    transition: 0.3s;
    background-color: #042541;
    transform: translateX(-100%);
    display: block;
  }
}
