.selectedMovie {
  background-position: 0 60%;
  background-size: cover;
  width: 100%;
  color: white;
}

.selectedMovieContainer {
  width: 100% !important;
  backdrop-filter: saturate(0.5) blur(2px);
  -webkit-backdrop-filter: saturate(0.5) blur(2px);
}

.selectedMovieContainer .content {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px 40px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.selectedMovieContainer .content span:nth-child(1) {
  margin-left: 18px;
}

.selectedMovieContainer .content img {
  width: 300px;
  border-radius: 8px;
}
