.selectedMovie {
  background-position: 0 60%;
  background-size: cover;
  width: 100%;
  color: white;
}

.selectedMovieContainer {
  width: 100% !important;
  backdrop-filter: saturate(0.5) blur(2px);
  -webkit-backdrop-filter: saturate(0.5) blur(2px);
}

.selectedMovieContainer .content {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px 40px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.selectedMovieContainer .content span:first-child {
  margin-left: 18px;
}

.selectedMovieContainer .content img {
  width: 300px;
  border-radius: 8px;
}

.text .rate {
  display: flex;
  gap: 16px;
}

.text .rate .smile {
  display: flex;
}

.text .rate .smile img {
  width: 28px;
  position: relative;
}

.text .rate .smile img:first-child {
  z-index: 1;
  left: 0;
}

.text .rate .smile img:first-child:hover {
  z-index: 4;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.text .rate .smile img:nth-child(2) {
  left: -5px;
  z-index: 2;
}

.text .rate .smile img:nth-child(2):hover {
  z-index: 5;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.text .rate .smile img:nth-child(3) {
  left: -10px;
  z-index: 3;
}

.text .rate .smile img:nth-child(3):hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
.text .rate .vibe {
  padding: 8px;
  background-color: rgb(3, 37, 65);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text .rate .vibe button{
  border: none;
  background-color: inherit;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
