.selectedMovie {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  backdrop-filter: grayscale(1);
  /* filter: grayscale(1); */
}

.selectedMovieContainer {
  width: 80%;
  margin: 0 auto;
}
.selectedMovieContainer img {
  width: 300px;
  border-radius: 8px;
}
