.toggle-container {
  display: flex;
  border: 1px solid #003366;
  border-radius: 25px;
  overflow: hidden;
  width: 200px;
  height: 40px;
}

.toggle-btn {
  flex: 1;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  color: #003366;
  font-size: 1em;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.5s, color 0.5s;
}

.toggle-btn.active {
  background-color: #003366;
  border-radius: 25px;
  color: #00cc99;
}

.toggle-btn:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.toggle-btn:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
